.body {
  min-height: 100vh;
}
.content {
  top: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 14.6709px;
}
.heading {
  width: 452px;
  height: 48px;
  left: calc(50% - 480px / 2);
  top: calc(50% - 48px / 2 - 120.5px);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  /* identical to box height, or 218% */

  text-align: center;

  color: #04091e;
}
.subHeading {
  /* left: calc((50% -452px) / 2 - 1px);
  top: calc((50% -48px) / 2 - 72.5px); */
}
.email {
  box-sizing: border-box;
  width: 452.29px;
  height: 47.23px;
  border-radius: 6.08304px;
  width: 100%;
}

.signInBox {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 22px;
  width: 451px;
  height: 48px;
  background: #ee562a;
  border-radius: 8px;
}

.resetBtn {
  width: 200px;
  height: 26px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.code {
  height: 23px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #04091e;
}
.resendBtn {
  height: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ee562a;
  /* or 157% */
}
